<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">#}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('static/logowebidyllebeaute.png') }}">
        <link rel="icon" type="image/png" sizes="48x48" href="{{ asset('static/logowebidyllebeaute.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('static/logowebidyllebeaute.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('static/logowebidyllebeaute.png') }}">
        {% block stylesheets %}{% endblock %}
        <script src="https://kit.fontawesome.com/1fda986dfe.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% block body %}{% endblock %}

        {% include 'components/_menu.html.twig' %}

        {% block javascripts %}
            <script type="module" src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
