<section class="description">
    <h2>
        <span class="first">La beauté et le soin</span>
        <span class="second">à portée de main.</span>
    </h2>
    <div class="institut" id="institut">
        <div class="institut-img">
            <img src="{{ asset('static/carousel-institut/manucure.jpg') }}" alt="manucure" class="slide1"/>
            <img src="{{ asset('static/carousel-institut/institut.png') }}" alt="institut" class="slide2"/>
            <img src="{{ asset('static/carousel-institut/massage.jpg') }}" alt="massage" class="slide3"/>
        </div>
        <p>Pauline vous acceuille dans son institut Idylle Beauté, situé à l’Aiguillon sur vie en Vendée. Voyagez au pays de la relaxation et du bien-être, dans une ambiance chaleureuse. Grâce à ses soins du visage, corps, onglerie, épilations etc.<br/>Venez tenter l’experience !</p>
    </div>
    <div class="produit" id="produit">
        <div class="baija-img">
            <img src="{{ asset('static/carousel-baija/baija1.jpg') }}" alt="produit baija" class="slide1"/>
            <img src="{{ asset('static/carousel-baija/baija2.jpg') }}" alt="produit baija" class="slide2"/>
            <img src="{{ asset('static/carousel-baija/baija3.jpg') }}" alt="produit baija" class="slide3"/>
            <img src="{{ asset('static/carousel-baija/baija4.jpg') }}" alt="produit baija" class="slide4"/>
        </div>
        <p>Envie de voyager ? Venez découvrir la marque BAÏJA-PARIS dans votre institut. Elle vous propose des univers olfactifs étonnants et exclusifs. Fabriqué en France avec ingrédients d’origine naturelle. Une marque positive, gaie, colorée, qui invite à la bonne humeur pour vous offrir une nouvelle idée de la beauté et du soin.</p>
    </div>
</section>
